body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  background-color: rgb(214, 236, 173);
  text-align: center;
}

#intro {
  width: 800px;
  margin: 0 auto;
}

#intro {
  padding-top: 50px;
  font-size: 30px;
}

h1 {
  font-weight: bold;
  margin: 0 0 0 30px;
  padding: 20px;
  font-size: 100px;
}

ul {
  padding: 0;
  margin: 100px 0 0 250px;
  list-style: none;
  text-align: left;
}

li {
  margin-bottom: 20px;
}

button {
  padding: 10px 20px;
  font-size: 30px;
  background-color: rgb(233, 156, 102);
  color: antiquewhite;
  border-radius: 5px;
  margin: 60px 200px;
}

canvas {
  margin: 50px auto;
  display: none;
}

.gameover {
  margin: 0 auto;
  display: none;
}

.gameover img {
  width: auto;
  height: 50%;
}

.restartbtn {
  margin-top: 0;
}

.endScore {
  margin-bottom: 80px;
  font-size: 50px;
}
