body {
  font-family: 'press Start 2P', cirsive;
  margin: 0;
  background-color: rgb(214, 236, 173);
  text-align: center;
}

#intro, canvas, .gameover {
  width: 500px;
  margin: 0 auto;
}

h1 {
  font-weight: 600;
  margin: 0;
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 30px;
  background-color: rgb(233, 156, 102);
  color: antiquewhite;
  border-radius: 5px;
  margin: 16px 200px;
  text-align: center;
}

canvas {
  margin: 50px auto;
  display: none;
}

.gameover {
  display: none;
}